<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sen.daos.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.sen.beans.Teacher" >
    <id column="tno" property="tno" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="descs" property="descs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tno, password, tname, mobile, education, post, email, descs
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sen.beans.TeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_teacher
    where tno = #{tno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_teacher
    where tno = #{tno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sen.beans.TeacherExample" >
    delete from tb_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sen.beans.Teacher" >
    insert into tb_teacher (tno, password, tname, 
      mobile, education, post, 
      email, descs)
    values (#{tno,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{tname,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{descs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sen.beans.Teacher" >
    insert into tb_teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tno != null" >
        tno,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="descs != null" >
        descs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tno != null" >
        #{tno,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="descs != null" >
        #{descs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sen.beans.TeacherExample" resultType="java.lang.Integer" >
    select count(*) from tb_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_teacher
    <set >
      <if test="record.tno != null" >
        tno = #{record.tno,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.tname != null" >
        tname = #{record.tname,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null" >
        education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null" >
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.descs != null" >
        descs = #{record.descs,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_teacher
    set tno = #{record.tno,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      tname = #{record.tname,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      descs = #{record.descs,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sen.beans.Teacher" >
    update tb_teacher
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="descs != null" >
        descs = #{descs,jdbcType=VARCHAR},
      </if>
    </set>
    where tno = #{tno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sen.beans.Teacher" >
    update tb_teacher
    set password = #{password,jdbcType=VARCHAR},
      tname = #{tname,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      descs = #{descs,jdbcType=VARCHAR}
    where tno = #{tno,jdbcType=VARCHAR}
  </update>
</mapper>